h1 {
    color: rgb(174, 204, 230);
    font-family: libre Franklin;
}

p {
    color: rgb(138, 8, 185);
    
}

h4 {
    color: rgb(148, 18, 18);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.family {
    background-color: rgb(238, 246, 188);
    font-family: cursive;
    padding: 30px;
    margin: 30px;
    border-radius: 30px;
}

.family h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.websites {
    background-color:#FEF6C9;
    border-radius: 50px;
    padding: 25px;
    margin: 20px;
    margin-top: 70px;
    
}

.websites h4 {
    color:  #2F2F2F;
}

.colour-scheme {
    background-color: #FCDDF2;
    padding: 20px;
    border-radius: 32px;
    margin-top: 12px;
    margin: 10px;
    letter-spacing: 2px;
    box-shadow: 2px 13px 15px #916953;
}

.nav-bar {
    background-color: #9CA3DB;
    padding: 7px;
    border-radius: 12px;
    font-size: large;
    margin: 9px;
    letter-spacing: 0.9973px;
    box-shadow: 1px 12px 15.34px #677DB7;
    text-align: center;
    font-weight: 700;
}